<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="30">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Lab Container Stack</title>
  </head>
  <body>    
    <main role="main" class="container">
      <h1 class="my-3 p-3 pb-2 mb-0">Container Status - {{ hostname }}:</h1>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Function</th>
              <th scope="col">Name</th>
              <!-- <th scope="col">Ports</th> -->
              <th scope="col">Manage</th>
              <th scope="col">Action</th>
              <th scope="col">Logs</th>
              <th scope="col">Clear Logs</th>
            </tr>
          </thead>
          <tbody>
            {% for container in config if container['Config']['Labels'].get('infra',none) is none %}
            <tr>
              {% if container['State']['Status'] == 'running' %}
              <th scope="row"><svg class="bd-placeholder-img mr-2 rounded" width="40" height="40" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>{{ container['State']['Status'] }}</title><rect fill="#28a745" width="100%" height="100%"/></svg>    </th>
              {% else %}
              <th scope="row"><svg class="bd-placeholder-img mr-2 rounded" width="40" height="40" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>{{ container['State']['Status'] }}</title><rect fill="#dc3545" width="100%" height="100%"/></svg>    </th>
              {% endif %} 
              <td style="vertical-align: middle;">{{ container['Name'].split('_')[-2] }}</td>
              <td style="vertical-align: middle;">{{ container['Name'].replace('/','') }}</td>
              <!-- <td style="vertical-align: middle;">80, 443</td> -->
              <td>
                <a class="btn btn-info" href="{{ container['Config']['Labels']['traefik.frontend.rule'].split(':')[-1] }}/">
                    <span class="fa fa-cog fa" aria-hidden="true"></span>
                </a>
              </td>
              <td>
                {% if container['State']['Status'] == 'running' %}
                <a class="btn btn-danger" href="api/operate/stop/{{ container['Name'].replace('/','') }}?redir=home">
                  <span class="fa fa-stop fa" aria-hidden="true"></span>
                  Stop
                </a>
                {% else %}
                <a class="btn btn-success" href="api/operate/start/{{ container['Name'].replace('/','') }}?redir=home">
                  <span class="fa fa-play fa" aria-hidden="true"></span>
                  Start
                </a>
                {% endif %}
              </td>
              <td>
                <a class="btn btn-secondary" href="api/operate/logs/{{ container['Name'].replace('/','') }}">
                  <span class="fa fa-align-justify fa" aria-hidden="true"></span>
                </a>
              </td>
              <td>
                  <a class="btn btn-danger" href="api/operate/clearlogs/{{ container['Name'].replace('/','') }}">
                    <span class="fa fa-exclamation-triangle fa" aria-hidden="true"></span>
                    Clear
                  </a>
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
